
.box{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to left, red,blue);
    background-image: linear-gradient(to bottom right,red,blue);

}
.mydiv{
    border: 1px solid black;
    margin: 10px;
    height: 400px;
    width: 200px;
    background-image: radial-gradient(circle, red,blue,yellow);
    background-image: radial-gradient( red 5%,blue 15%,yellow 80%);
 

}

h1{
    text-shadow: 3px 3px 3px  red ;
    text-shadow: 3px 3px 3px  red , 5px 5px 5px blue;
   
}
.box2{
    height: 200px;
    width: 200px;
    background-color: aqua;
    box-shadow: -10px -10px 15px green ,15px 15px 15px brown;
color: blueviolet;

}
.box3{
    max-height:100px ;
    border: 1px solid black;
    overflow: scroll ;
}
.min{
    margin: 10px;
    min-height: 100px;
    border: 1px solid black;
}
#divi{
    height: 50px;
    border: 1px solid black;
    overflow: auto;
}

.abcd{
    background-color: aqua;
  /*  transform: translate(100px,50px);
    transform: rotate(45deg);*/
    margin: 200px;
    transform: scale(1,5,1);
    transform: skew(45deg);
}

 .cd{
    display: inline-block;
    width: 200px;
    height: 200px;
     background-color: aqua;
     border: 1px solid black;
 }
.cd{
    position: relative;
    left: 15px;
    top: 100px;
}

.wrapper{
    display: inline-block;
    width: 100px;
    height: 2000px;
    background-color: bisque;
}

#cd4{
    position: sticky;
    top: 0px;
}









